body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: #ed6e13;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 75%;
}

.bttn-name {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    margin-top: 5%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}